<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>888941058831-s9r611q96sfgnvec3j68kjem1avjksro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888941058831-s9r611q96sfgnvec3j68kjem1avjksro</string>
	<key>API_KEY</key>
	<string>AIzaSyD46VbachdH4Rbfk0wfUlFOLSG7NUD9SxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>888941058831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.induk.csh.csh-Project</string>
	<key>PROJECT_ID</key>
	<string>cshproject-153be</string>
	<key>STORAGE_BUCKET</key>
	<string>cshproject-153be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888941058831:ios:bc39de31c10ac127</string>
	<key>DATABASE_URL</key>
	<string>https://cshproject-153be.firebaseio.com</string>
</dict>
</plist>